@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html{
  /* width: px; */
}
#root{
  width: 100%;
}
body {
  /* position: absolute; */
  margin: 0;
  font-family: Poppins, sans-serif;
  /* height: 100%; */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
